{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="jumbotron main-heading">
		<div>
	        <h1>Learning Django</h1>
	         <p class="lead">Some simple apps that I have built while learning Django. Deployed on a Digital Ocean droplet with the help of Ansible. </p> 
	    </div>

	</div>

    <!-- Django Projects Section -->
    <div class="row">
      
        <div class="col-lg-12">
            <h1 class="page-header">
                Django Projects
            </h1>
        </div>
      
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>Week 01 - Polls</h3>
                </div>
                <div class="panel-body">
                    <p>Polls app from Django tutorials page.</p>
                    <div class="text-center">
                    	<a href="{% url 'polls:index' %}" class="btn btn-primary">Visit App</a>	
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>Week 02 - Blog</h3>
                </div>
                <div class="panel-body">
                    <p>A simple blog built with Django and Bootstrap.</p>
                    <div class="text-center">
                        <a href="{% url 'blog:index' %}" class="btn btn-primary">Visit App</a> 
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- /.row -->

    <!-- Page Features 
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Polls</h3>
                    <p></p>
                    <p>
                        <a href="{% url 'polls:index' %}" class="btn btn-primary">Visit App</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    -->
	
{% endblock content %}