{% extends 'blog/base.html' %}

{% block content %}

	<div class="container post-index">

		{% if post_list %}
			{% for post in post_list %}
				
				<a class="post-title" href="{% url 'blog:detail' post.id %}"><h3>{{ post.title }}</h3></a>
  				<p>Posted on <span class="post-date">{{ post.pub_date }}</span> by <span class="post-author">{{ post.author }}</span></p>
  				
  				<p>{{ post.content | truncatechars:200 }}</p>
  				</br></br>
			{% endfor %}
		{% else %}
			<p>No blog posts available.</p>
		{% endif %}
	
	</div>
	
{% endblock %}