{% extends 'polls/base.html' %}

{% block content %}
	
    <div class="container">
        
        {% if latest_question_list %}
            <table>
            <thead>
                <tr>
                    <th style="text-align: center">Poll Question</th>
                    <th style="text-align: center">Vote</th>
                </tr>
            </thead>
            
            <tbody>
                {% for question in latest_question_list %}
                    <tr>
                        <td>{{ question.question_text }}</td>
                        <td style="text-align: center"><a href="{% url 'polls:detail' question.id %}">Vote</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}    
    </div>
	

{% endblock content %}